
.icon-user:before { content: '\e800'; } /* '' */
.icon-graduation-cap:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-pencil:before { content: '\e804'; } /* '' */
.icon-photo:before { content: '\e805'; } /* '' */
.icon-lightbulb:before { content: '\e806'; } /* '' */
