
.icon-wordpress-1:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
